/* NAVS  */
.navbar-custom {
  background-color: #1C2541;
  border-bottom: 2px solid transparent;
  box-shadow: 0px 2px 4px #FD0009;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
  position: relative;
}

.nav-link {
  text-decoration: none;
  align-items: center;
  color: #E5BF00;
  position: relative;
  display: flex;
  align-items: center;
}

.cstm-logo {
  height: 50px; /* Ajusta el tamaño de la imagen */
  margin-right: 10px;
}

.H-100 {
  height: 2em; /* Ajuste base usando em */
  display: flex;
  align-items: center;
}


.nav-link h3 {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background-color: #FD0009;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}
/*Alto del navbar*/
@media (min-width: 768px) {
  .H-100 {
    height: 3em; /* Para pantallas medianas (tablets) */
  }
}

@media (min-width: 1024px) {
  .H-100 {
    height: 4em; /* Para pantallas grandes (desktops) */
  }
}