/* NAVS  */
.navbar-custom {
  background-color: #1C2541;
  border-bottom: 2px solid transparent;
  box-shadow: 0px 2px 4px #FD0009;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block; /* Mejora la alineación para evitar problemas en pantallas pequeñas */
  margin-right: 20px;
  position: relative;
}

.nav-link {
  text-decoration: none;
  align-items: center;
  color: #E5BF00;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0; /* Añadir espacio alrededor de los enlaces */
}

.cstm-logo {
  height: 40px; /* Tamaño dinámico */
  margin-right: 10px;
}

.H-100 {
  height: 2em;
  display: flex;
  align-items: center;
}

/* Aumentar tamaño del texto del logo */
.nav-link h3 {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background-color: #FD0009;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

/* MEDIA QUERIES */
/* Para pantallas más pequeñas */
@media (max-width: 768px) {
  nav li {
    display: block; /* El menú se apila en dispositivos pequeños */
    margin: 10px 0; /* Añadir margen vertical entre los elementos */
  }

  .nav-link {
    font-size: 18px; /* Reducir el tamaño de fuente en móvil */
  }

  .cstm-logo {
    height: 30px; /* Reducir el tamaño del logo en móviles */
  }

  .navbar-toggler {
    padding: 0.25rem 0.75rem; /* Ajustar el tamaño del botón en móviles */
  }

  .H-100 {
    height: 2.5em; /* Ajustar la altura para móviles */
  }
}

/* Para pantallas medianas (tablets) */
@media (min-width: 768px) {
  .H-100 {
    height: 3em;
  }

  .cstm-logo {
    height: 45px; /* Ajuste del logo para tablets */
  }
}

/* Para pantallas grandes (desktops) */
@media (min-width: 1024px) {
  .H-100 {
    height: 4em;
  }

  .cstm-logo {
    height: 50px; /* Mantener el logo más grande en desktops */
  }
}
