<nav
  class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top custom-border"
>
  <div class="container">
    <a href="#inicio" class="navbar-brand d-flex align-items-center">
      <img
        src="../assets/isologo-fumiga.png"
        class="cstm-logo"
        alt="Fumiga logo"
      />
      <h3 class="text-white m-0">FUMIGA</h3>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarS"
      aria-controls="navbarS"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarS">
      <ul class="navbar-nav">
        <li class="nav-item mx-3">
          <a href="#inicio" class="nav-link text-white" (click)="closeNavbar()"
            >Inicio</a
          >
        </li>
        <li class="nav-item mx-3">
          <a
            href="#servicios"
            class="nav-link text-white"
            (click)="closeNavbar()"
            >Servicios</a
          >
        </li>
        <li class="nav-item mx-3">
          <a
            href="#Quienessomos"
            class="nav-link text-white"
            (click)="closeNavbar()"
            >Quiénes somos</a
          >
        </li>
        <li class="nav-item mx-3">
          <a
            href="#Contactos"
            class="nav-link text-white"
            (click)="closeNavbar()"
            >Contáctanos</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
